<h3>Good Flight!</h3>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Sets</th>
      <th scope="col">Legs</th>
      <th scope="col">Required</th>
    </tr>
  </thead>
  <tbody>
    <tr forEach="playerStats">
      <th scope="row" forEachHere="name">Pelle</th>
      <td forEachHere="sets">Cell</td>
      <td forEachHere="legs">Cell</td>
      <td forEachHere="required">Cell</td>
    </tr>
  </tbody>
</table>

<h3>Next: <span property="nextPlayer"></span></h3>
<input id="score" type="number" value="0" min="0" max="180" >
<button click="submitScore">Submit</button>

<h3>Additional Stats</h3>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Highest Score</th>
      <th scope="col">Highest Finish</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <tr forEach="playerStats">
      <th scope="row" forEachHere="name">Pelle</th>
      <td forEachHere="highestScore">Cell</td>
      <td forEachHere="highestFinish">Cell</td>
      <td forEachHere="average">Cell</td>
    </tr>
  </tbody>
</table>